@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=DM+Serif+Display:ital@0;1&display=swap');

html,
body,
#root {
  background: rgb(217,203,255);
  background: radial-gradient(circle, rgba(217,203,255,1) 1%, rgba(164,128,255,1) 10%, rgba(243,183,255,1) 30%, rgba(215,244,255,1) 68%, rgba(220,220,255,1) 93%);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-horizontal{
  height: 5px;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-300 rounded-xl

}

.task > ::-webkit-scrollbar-thumb{
  @apply bg-sky-500 rounded-xl
}